
.vs/NatoERA/FileContentIndex/742c7ddc-38fb-417a-ac2a-f561d97083b4.vsidx
*.dll
*.pdb
*.xml
*.cache
*.CopyComplete
.vs/NatoERA/v17/.suo
obj/Debug/NatoERA.csproj.FileListAbsolute.txt
*.json
*.vsidx
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
